<div>
  <h2>I miei progetti</h2>
  <hr />
  <app-project-search (searching)="searchProject($event)"></app-project-search>
</div>
<hr />

<app-project-list *ngIf="projects.length > 0 ; else noProjects" class="col" [projects]="projects
        | searchFilter: 'name' : searchedProject?.name || ''
        | searchFilter: 'priority' : searchedProject?.priority || ''
        | searchFilter: 'done' : searchedProject?.done?.toString() || ''" (selected)="selectProject($event)">
</app-project-list>

<app-project-detail [project]="selectedProject"></app-project-detail>
<hr />
<app-project-form [nextId]="projects.length" (submitted)="addNewProject($event)">
</app-project-form>

<ng-template #noProjects>
  <p>Non è presente alcun progetto</p>
</ng-template>