<div class="row mt-5 justify-content-end">
  <div class="col">
    <h2 class="">I miei progetti</h2>
  </div>
  <div class="col-auto text-right">
    <button class="btn btn-primary" routerLink="/">Torna ad Home</button>
  </div>
</div>
<hr />

<app-project-list *ngIf="projects.length > 0 ; else noProjects" class="col" [projects]="projects
        | searchFilter: 'name' : searchedProject?.name || ''
        | searchFilter: 'priority' : searchedProject?.priority || ''
        | searchFilter: 'done' : searchedProject?.done?.toString() || ''" (selected)="selectProject($event)">
</app-project-list>
<hr />
<app-project-form [nextId]="projects.length" (submitted)="addNewProject($event)">
</app-project-form>

<ng-template #noProjects>
  <p>Non è presente alcun progetto</p>
</ng-template>